{% extends 'layouts/base.html' %}
{% import 'macros/admin_panel_macros.html' as admin_macro %}

{% set endpoints = [
    ('admin.user_info', 'User information'),
    ('admin.change_user_email', 'Change email address'),
    ('admin.change_account_type', 'Change account type'),
    ('admin.delete_user_request', 'Delete user')
] %}

{% macro navigation_tab(route, name) %}
    {% set href = url_for(route, user_id=user.id) %}
    <li class="nav-item">
        <a class="{% if request.endpoint == route %}active text-secondary {% else %} text-primary {% endif %} nav-link" href="{{ href }}">
            {{ name }}
        </a>
    </li>
{% endmacro %}

{% block js_script %}
<script>
    $(document).on("change", ".deletion.checkbox input[type='checkbox']", function () {
        if (this.checked) {
                $('.deletion.button').removeClass('disabled')
                .attr('href', '{{ url_for('admin.delete_user', user_id=user.id) }}');
        } else {
                $('.deletion.button').addClass('disabled').removeAttr('href');
        }
    });
</script>
{% endblock %}

{% macro user_table_info(user) %}
<div class="row table-responsive">
    <table id="users-table" class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Full name</th>
                <th scope="col">Email address</th>
                <th scope="col">Account type</th>
            </tr>
        </thead>
        <tbody>
            <tr class="clickable-item" onclick="window.location.href = '{{ url_for('admin.user_info', user_id=user.id) }}';">
                <td class="align-middle col-4" scope="row" data-class="first_name" title="{{ user.first_name }}">
                    {{ '%s %s' % (user.first_name, user.last_name) }}
                </td>
                <td class="align-middle col-3" data-class="email" title="{{ user.email }}">
                    {{ user.email | safe }}
                </td>
                <td class="align-middle col-3" data-class="role" title="{{ user.role.name }}">
                    {{ user.role.name | safe }}
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endmacro %}

{% block content %}
<div class="ui stackable grid container">
    <div class="sixteen wide tablet twelve wide computer centered column">
        {{ admin_macro.panel_header('Back to users', 'admin.registered_users') }}
        <ul class="nav nav-pills mb-3">
            {% for route, name in endpoints %}
                {{ navigation_tab(route, name) }}
            {% endfor%}
        </ul>
        {% if request.endpoint == 'admin.delete_user_request' %}
        <div class="row">
            <div class="col">
                <h1><i class="bi bi-exclamation-diamond-fill text-danger"></i>This action is permanent<i class="bi bi-exclamation-diamond-fill text-danger"></i></h1>
                <h5>
                    Deleting a user account is not a reversible change. Any information associated
                    with this account will be removed, and cannot be recovered.
                </h5>
                <div class="deletion checkbox">
                    <input type="checkbox" class="form-label" tabindex="0" class="hidden">
                    <label>I understand that this action cannot be undone.</label>
                </div>
                <a class="disabled negative deletion button">
                    Delete this user
                </a>
            </div>
        </div>
        {% elif form %}
        <div class="row mt-3">
            <div class="col-12 col-md-6 col-lg-4">
                <form action="" method="POST">
                    <div class="mb-3">
                        <label for={{ form.email.id }} class="form-label">Email address</label>
                        {{ form.email(class="form-control text-secondary") }}
                    </div>
                    {{ form.submit(class="btn btn-primary") }}
                    {{ form.hidden_tag() }}
                </form>
            </div>
        </div>
        {% else %}
            {{ user_table_info(user) }}
        {% endif %}
    </div>
</div>
{% endblock %}
