{% extends 'layouts/base.html' %}
{% import 'macros/check_password.html' as check %}
{% import 'macros/account_panel_macros.html' as panel_macro %}

{% block content %}
<div class="container position-relative">
    {{ panel_macro.panel_header('Create a new user account', 'admin.index') }}
    <div class="row">
        <div class="col-12 col-md-8 col-lg-5">
        <form action="" method="POST">
            <div class="mb-3">
                <label for={{ form.role.id }} class="form-label">{{form.role.label}}</label>
                {{ form.role(class="form-control text-secondary") }}
            </div>
            <div class="mb-3">
                <label for={{ form.first_name.id }} class="form-label">{{ form.first_name.id }}</label>
                {{ form.first_name(class="form-control text-secondary") }}
            </div>
            <div class="mb-3">
                <label for={{ form.last_name.id }} class="form-label">{{ form.last_name.id }}</label>
                {{ form.last_name(class="form-control text-secondary") }}
            </div>
            <div class="mb-3">
                <label for={{ form.email.id }} class="form-label">{{ form.email.id }}</label>
                {{ form.email(class="form-control text-secondary") }}
            </div>
            <div class="mb-3">
                <label for={{ form.password.id }} class="form-label">{{ form.password.id }}</label>
                {{ form.password(class="form-control text-secondary") }}
            </div>
            <div class="mb-3">
                <label for={{ form.password2.id }} class="form-label">{{ form.password2.id }}</label>
                {{ form.password2(class="form-control text-secondary") }}
            </div>
            {% if form.password %}
                {{ check.password_check('password', 0) }}
            {% endif %}
            <div class="mb-3">
                <div class="d-grid col-12">
                    {{ form.submit(class="btn btn-primary btn-lg aligin-center") }}
                </div>
            </div>
            {{ form.hidden_tag() }}
        </form>
        </div>
    </div>
</div>
{% endblock %}
