FLASK_APP=
FLASK_RUN_HOST=
FLASK_RUN_PORT=
FLASK_ENV=

DEBUG=
SECRET_KEY=
ENCRTYPTION_KEY=
SQLALCHEMY_ECHO=

POSTGRES_USER=dev
POSTGRES_PASSWORD=
POSTGRES_URL=flask-db.docker
POSTGRES_PORT=5432
POSTGRES_DB=app-db

RQ_DEFAULT_HOST=flask-redis.docker
RQ_DEFAULT_PORT=6479
RQ_DEFAULT_PASSWORD=
RQ_DEFAULT_DB=1