{% extends 'layouts/base_extended.html' %}

{% block js_script %}
<script>
$(document).ready(function () {

  $("#site").val("");
  $("#username").val("");

  $(document).on("click", ".delete-row", function () {
      let id = $(this).attr("data-id");
      var pswRow = $(this);
      let csrf_token = $("#csrf_token").val();
      if (!isNaN(id)) {
        let request = $.ajax({
          headers: {
            "x-csrf-token": csrf_token,
          },
          url: `${id}`,
          method: "POST",
        }).done(function (res) {
          if (res.status === true) {
            pswRow.closest('tr').remove();
          }
        });
      }
    });

  $(document).on("click", ".bi-eye-slash", function() {
    $(this).removeClass("bi-eye-slash").addClass("bi-eye");
    $(this).closest(".input-group").find("input").attr("type", "password")
  })

  $(document).on("click", ".bi-eye", function () {
    $(this).removeClass("bi-eye").addClass("bi-eye-slash");
    $(this).closest(".input-group").find("input").attr("type", "text")
  })

  $("#nav-filter").on("keyup", function() {
    let search = $(this).val().toLocaleLowerCase();
    $("#password-table tbody tr").filter(function() {
      $(this).toggle($(this).text().toLocaleLowerCase().indexOf(search) > -1)
    })
  })
});
</script>
{% endblock %}

{% block content %}
<div id="index-password">
  <div class="container position-relative g-8">
    <form class="row row-cols-1 row-cols-md-2 row-cols-lg-4" action="" method="POST">
      <div class="col-auto">
        <label for={{ form.site.id }} class="form-label">{{form.site.label}}</label>
        {{ form.site(class="form-control text-secondary") }}
      </div>
      <div class="col-auto">
        <label for={{ form.username.id }} class="form-label">{{form.username.label}}</label>
        {{ form.username(class="form-control text-secondary") }}
      </div>
      <div class="col-auto">
        <label for={{ form.password.id }} class="form-label">{{form.password.label}}</label>
        {{ form.password(class="form-control text-secondary") }}
      </div>
      <div class="col-auto">
        <label for={{ form.submit.id }} class="form-label">{{form.submit.label}}</label>
        {{ form.submit(class="form-control btn btn-primary") }}
      </div>
      {{ form.hidden_tag() }}
    </form>
    <div class="row row-cols-1 justify-content-center mt-4">
      <table id="password-table" class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">{{form.site.label}}</th>
            <th scope="col">{{form.username.label}}</th>
            <th scope="col">{{form.password.label}}</th>
          </tr>
        </thead>
        <tbody>
          {% for p in passwords %}
          <tr>
            <td class="col-1" scope="row">
              <!-- <form action="{{ url_for('password.delete_password', id=p.id) }}" method="POST"> -->
                <label for="mySubmit" class="btn"><i class="bi bi-x delete-row" data-id="{{ p.id }}" title="delete"></i></label>
                <!-- <input id="mySubmit" type="submit" class="d-none" /> -->
                <!-- {{ form.hidden_tag() }} -->
              <!-- </form> -->
            </td>
            <td class="align-middle col-4" data-class="site" title="{{ p.site }}">
                {{ p.site | safe }}
            </td>
            <td class="align-middle col-3" data-class="username" title="{{ p.username }}">
                {{ p.username | safe }}
            </td>
            <td data-class="password col-2">
              <div class="input-group">
                <input type="password" class="form-control bg-transparent no-border" value="{{ p.password | safe }}" aria-label="Username" disabled aria-describedby="password-{{ p.id }}">
                <span class="input-group-text bg-transparent no-border" id="password-{{ p.id }}"><i class="bi bi-eye" aria-hidden="true"></i></span>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}