{% extends 'layouts/base.html' %}

{% block content %}
<div id="index-password">
  <div class="container position-relative g-8">
    <form class="row row-cols-1 row-cols-md-2 row-cols-lg-4" action="" method="POST">
      <div class="col-auto">
        <label for={{ form.site.id }} class="form-label">{{form.site.label}}</label>
        {{ form.site(class="form-control text-secondary") }}
      </div>
      <div class="col-auto">
        <label for={{ form.username.id }} class="form-label">{{form.username.label}}</label>
        {{ form.username(class="form-control text-secondary") }}
      </div>
      <div class="col-auto">
        <label for={{ form.password.id }} class="form-label">{{form.password.label}}</label>
        {{ form.password(class="form-control text-secondary") }}
      </div>
      <div class="col-auto">
        <label for={{ form.submit.id }} class="form-label">{{form.submit.label}}</label>
        {{ form.submit(class="form-control btn btn-primary") }}
      </div>
      {{ form.hidden_tag() }}
    </form>
    <div class="row row-cols-1 justify-content-center mt-4">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">{{form.site.label}}</th>
            <th scope="col">{{form.username.label}}</th>
            <th scope="col">{{form.password.label}}</th>
          </tr>
        </thead>
        <tbody>
          {% for p in passwords %}
          <tr>
            <td scope="row">
              <i class="bi bi-x" data-id={{ p.id }} title="delete"></i>
            </td>
            <td data-class="site">{{ p.site }}</td>
            <td data-class="username">{{ p.username }}</td>
            <td data-class="password">{{ p.password }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}