{% extends 'layouts/base_extended.html' %}

{% block content %}
<div id="page-password">
    <div class="container position-relative">
      <form class="row row-cols-1 row-cols-md-2 row-cols-lg-4 mb-4" action="" method="POST">
        <div class="col-auto">
          <div class="justify-content-center d-flex">
            {{form.site.label(class="form-label")}}
          </div>
          {{ form.site(class="form-control text-secondary", value=password.site) }}
        </div>
        <div class="col-auto">
          <div class="justify-content-center d-flex">
            {{form.username.label(class="form-label")}}
          </div>
          {{ form.username(class="form-control text-secondary", value=password.username) }}
        </div>
        <div class="col-auto">
          <div class="justify-content-center d-flex">
            {{form.password.label(class="form-label")}}
          </div>
          {{ form.password(class="form-control text-secondary") }}
        </div>
        <div class="col-auto">
          <!-- Fix me align bottom -->
          <div class="justify-content-center d-flex">
            {{form.submit.label(class="form-label text-secondary")}}
          </div>
          {{form.submit(class="form-control btn btn-primary text-secondary") }}
        </div>
        {{ form.hidden_tag() }}
      </form>
    </div>
  </div>
</div>
{% endblock %}