
{% with msgs = get_flashed_messages(with_categories=true) %}
    <div class="position-fixed bottom-0 end-0 p-3 " style="z-index: 5">
        <div class="toast-container">
        {% for category, message in msgs %}
            {% set cat = category or 'bg-primary' %}
            <div class="toast {{ cat | safe}}" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header {{ cat | safe }} text-secondary">
                    <!-- <img src="..." class="rounded me-2" alt="..."> -->
                    <strong class="me-auto">{{ message }}</strong>
                    <small>now</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <!-- <div class="toast-body">
                    
                </div> -->
            </div>
        {% endfor %}
        </div>
    </div>
{% endwith %}

<script>
    /* Trigger flash toast */
    $(document).ready(function () {
        var messages = "{{ get_flashed_messages() }}";

        if (typeof messages != 'undefined' && messages != '[]') {
            $('.toast').toast('show');
        };
    });
</script>