#page-password {
  .delete-row {
    cursor: pointer;
    font-size: 32px;
    &:hover {
      color: $primary;
    }
  }

  .no-border {
    border: 0;
    box-shadow: none;
  }

  span .bi {
    cursor: pointer;
    &.bi-eye {
      &:hover {
        &::before {
          content: "\f33e";
        }
        color: $primary;
      }
    }

    &.bi-eye-slash {
      &:hover {
        &::before {
          content: "\f33f";
        }
        color: $primary;
      }
    }
  }
}
