{% extends 'layouts/base_extended.html' %}
{% import 'partials/_context_menu.html' as context_menu %}

{% set context_menu_items_card = [
{"icon": "bi-folder-plus","label": "Move to folder","href": url_for("drive.folder_file", file_id=-1)},
{"icon": "bi-pencil-square", "label": "rename", "href": url_for("drive.rename_file", file_id=-1)},
{"icon": "bi-cloud-arrow-down","label": "download","href": url_for("drive.serve_file", file_id=-1, as_attachment=True)},
{"icon": None,"label": None,"href": ""},
{"icon": "bi-link","label": "share","href": url_for("drive.share_file", file_id=-1)}]
%}

<!-- i can also use {{ csrf_token() }} for get token -->
{%macro javascript() %}
<script src="{{ url_for('static',filename='js/drive.js') }}"></script>
{% endmacro %}

{%macro card(id, title='No title', mimeType="", url='/static/image/no-img.svg') %}
{%set iconMime = "bi-file-earmark-fill" %}
{% if "video" in mimeType%}
<!-- or bi-film -->
{%set iconMime = "bi-file-earmark-play-fill" %}
{% elif "pdf" in mimeType%}
{%set iconMime = "bi-file-earmark-pdf-fill" %}
{% elif "zip" in mimeType%}
{%set iconMime = "bi-file-earmark-zip-fill" %}
{% endif%}

<div class="col p-2 searchable-card">
  <div class="card file shadow-lg h-100" data-id={{ id | safe }}>
    <a href="{{ url | safe  }}" target="_blank">
      <!-- spinner before load -->
      <div class="d-flex justify-content-center spinner-placeholder">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <!-- image -->
      <img data-src="{{ url ~ '?preview=True' | safe  }}" alt="missing image" draggable="false"
        class="card-img-top drive-image d-none hide">
      <!-- fallback if not image/not exists -->
      <div class="d-none icon-placeholder text-primary justify-content-center align-middle">
        <i class="bi {{ iconMime | safe  }}"></i>
      </div>
    </a>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h5 class="card-title truncate-line" draggable="false" data-bs-toggle="tooltip" data-bs-placement="bottom"
            title="{{ title | safe | forceescape }}">{{ title | safe | forceescape }}</h5>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card-text float-end">
            <a href="{{ url ~ '?as_attachment=True' | safe }}" class="px-1"><i class="bi bi-cloud-arrow-down"></i></a>
            <i class="bi bi-link px-1" data-id={{ id | safe }}></i>
          </div>
        </div>
      </div>
    </div>
    <span>
      <i class="bi bi-x closing-button rounded-circle" data-id={{ id | safe }} title="delete"></i>
    </span>
  </div>
</div>
{% endmacro %}

{%macro folder_card(title='No title', url="/") %}
<div class="col p-2 searchable-card">
  <div class="card shadow-lg h-100" data-id={{ id | safe }}>
    <a href="{{ url | safe  }}">
      <!-- spinner before load -->
      <div class="d-flex icon-placeholder text-primary justify-content-center align-middle">
        <i class="bi bi-folder-fill"></i>
      </div>
    </a>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h5 class="card-title truncate-line" draggable="false" data-bs-toggle="tooltip" data-bs-placement="bottom"
            title="{{ title.title() | safe | forceescape }}">{{ title.title() | safe | forceescape }}</h5>
        </div>
      </div>
    </div>
    <!-- <span>
      <i class="bi bi-x closing-button rounded-circle" data-id={{ id | safe }} title="delete"></i>
    </span> -->
  </div>
</div>
{% endmacro %}

{%macro upload_button(form, method='POST') %}
<span class="btn btn-secondary rounded-circle btn-lg upload-button position-fixed bottom-0 start-0 m-3">
  <i class="bi bi-file-earmark-plus-fill"></i>
</span>
<form action="" method={{method}} enctype="multipart/form-data">
  {{ form.file(class="d-none") }}
  {{ form.hidden_tag() }}
</form>
{% endmacro %}

{%macro progressBar() %}
<div id="progressBar" class="progress position-fixed">
  <div class="progress-bar bg-primary" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0"
    aria-valuemax="100">0%</div>
</div>
{% endmacro %}

{%macro onDropLayout() %}
<div id="dropLayout" class="border-primary justify-content-center align-middle position-fixed">
  <i class="bi bi-plus-lg"></i>
</div>
{% endmacro %}

{% block content %}
{{ javascript() }}
<div id="page-drive" class="container position-relative g-8 h-75 w-100">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
    {% set inserted_folders = [] %}
    {% for folder in folders %}
    {% set folder_name = folder.getFolderName(folder_path)%}
    {% if folder_name not in inserted_folders %}
    {{ folder_card(folder_name, folder.getFolderUrl(folder_path)) }}
    {{ inserted_folders.append(folder_name)|default("", True) }}
    {% endif %}
    {% endfor %}

    {% for file in files %}
    {{ card(file.id, file['filename'], file.getMimeType(), file.getImageUrl()) }}
    {% endfor %}
  </div>
  {{ upload_button(form) }}
  {{ progressBar() }}
  {{ onDropLayout() }}
  {{ context_menu.render_context_menu(scope=".card.file", fields=context_menu_items_card) }}
</div>
{% endblock %}