{% extends 'layouts/base_extended.html' %}

<!-- i can also use {{ csrf_token() }} for get token -->
{%macro javascript() %}
<script src="{{ url_for('static',filename='js/drive.js') }}"></script>
{% endmacro %}

{%macro card(id, title='No title', mimeType="", text='No text', url='/static/image/no-img.svg') %}
{%set iconMime = "bi-file-earmark-fill" %}
{% if "video" in mimeType%}
<!-- or bi-film -->
{%set iconMime = "bi-file-earmark-play-fill" %}
{% endif%}
{% if "pdf" in mimeType%}
{%set iconMime = "bi-file-earmark-pdf-fill" %}
{% endif%}
{% if "zip" in mimeType%}
{%set iconMime = "bi-file-earmark-zip-fill" %}
{% endif%}

<div class="col p-2 searchable-card">
  <div class="card shadow-lg h-100" data-id={{ id }}>
    <a href="{{ url ~ '?show=True'}}" target="_blank">
      <img data-src="{{ url }}" alt="missing image" draggable="false" class="card-img-top drive-image">
      <div class="d-none icon-placeholder justify-content-center align-middle">
        <i class="bi {{ iconMime }}"></i>
      </div>
    </a>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h5 class="card-title truncate-line" draggable="false" data-bs-toggle="tooltip" data-bs-placement="bottom"
            title="{{ title | safe }}">{{ title | safe }}</h5>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card-text float-end">
            <a href="{{ url ~ '?as_attachment=True'}}" class="px-1"><i class="bi bi-cloud-arrow-down"></i></a>
            <i class="bi bi-link px-1" data-id={{ id }}></i>
          </div>
        </div>
      </div>
    </div>
    <span>
      <i class="bi bi-x closing-button rounded-circle" data-id={{ id }} title="delete"></i>
    </span>
  </div>
</div>
{% endmacro %}

{%macro context_menu() %}
<div id="context_menu" class="dropdown position-fixed" style="display: none;">
  <ul class="dropdown-menu d-block">
    <li><a class="dropdown-item" id="rename"><i class="bi bi-pencil-square pe-1"></i>Rename</a></li>
    <li><a class="dropdown-item" id="download"><i class="bi bi-cloud-arrow-down pe-1"></i>Download</a>
    <li>
      <hr class="dropdown-divider">
    </li>
    <li><a class="dropdown-item" id="share"><i class="bi bi-link pe-1"></i>Share</a>
    </li>
  </ul>
</div>
{% endmacro %}

{%macro upload_button(form, method='POST') %}
<span class="btn btn-secondary rounded-circle btn-lg upload-button position-fixed bottom-0 start-0 m-3">
  <i class="bi bi-file-earmark-plus-fill"></i>
</span>
<form action="" method={{method}} enctype="multipart/form-data">
  {{ form.file(class="d-none") }}
  {{ form.hidden_tag() }}
</form>
{% endmacro %}

{%macro progressBar() %}
<div id="progressBar" class="progress position-fixed">
  <div class="progress-bar bg-primary" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0"
    aria-valuemax="100">0%</div>
</div>
{% endmacro %}

{%macro onDropLayout() %}
<div id="dropLayout" class="border-primary justify-content-center align-middle">
  <i class="bi bi-plus-lg"></i>
</div>
{% endmacro %}

{% block content %}
{{ javascript() }}
<div id="page-drive">
  <div class="container position-relative g-8">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
      {% for file in files %}
      {{ card(file.id, file['filename'], file.getMimeType(), file.getImageUrl(), file.getImageUrl()) }}
      {% endfor %}
    </div>
  </div>
  {{ upload_button(form) }}
  {{ progressBar() }}
  {{ onDropLayout() }}
  {{ context_menu() }}
</div>
{% endblock %}