{% extends 'layouts/base.html' %}
{% import 'macros/account_panel_macros.html' as panel_macro %}

{% block content %}
<div class="ui stackable grid container">
    <div class="sixteen wide tablet twelve wide computer centered column">
        {{ panel_macro.panel_header('Back to drive', 'drive.index') }}
        <div class="row mt-3">
            <div class="col-12 col-md-6 col-lg-4">
                <form action="" method="POST">
                    <div class="mb-3">
                        <label for={{ form.filename.id }} class="form-label">{{ form.filename.label }}</label>
                        <h6 style="font-size: medium;">(current is <b class="text-primary">{{ file.filename | safe |
                                forceescape }}</b class="text-primary">)</h6>
                        {{ form.filename(class="form-control text-secondary") }}
                    </div>
                    {{ form.submit(class="btn btn-primary") }}
                    {{ form.hidden_tag() }}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}